@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans:wght@100..900&display=swap");

* {
    font-family: "EB Garamond", serif;
}

#this {
    font-size: 30px;
    text-align: center;
}
